In [ ]:
Cloud shell에서 아래 명령어를 입력해 주세요.

# $ mkdir -p ~/aiffel/recommendata_iu/data/lastfm-dataset-360K
# $ ln -s ~/data/lastfm-dataset-360K/* ~/aiffel/recommendata_iu/data/lastfm-dataset-360K
# $ more ~/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv

In [2]:
# 14-3 데이터 탐색하기와 전처리
#  Pandas를 활용해 이 데이터를 열기. 위 데이터에는 컬럼명이 포함되어 있지 않으므로, 아래와 같이 col_names에 적절히 컬럼명을 지정
import pandas as pd
import os

fname = os.getenv('HOME') + '/aiffel/recommendata_iu/data/lastfm-dataset-360K/usersha1-artmbid-artname-plays.tsv'
col_names = ['user_id', 'artist_MBID', 'artist', 'play']   # 임의로 지정한 컬럼명
data = pd.read_csv(fname, sep='\t', names= col_names)      # sep='\t'로 주어야 tsv를 열 수 있습니다.  
data.head(10)

,user_id,artist_MBID,artist,play
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,betty blowtorch,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,die Ärzte,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,melissa etheridge,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,elvenking,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,juliette & the licks,706
5,00000c289a1829a808ac09c00daf10bc3c4e223b,8bfac288-ccc5-448d-9573-c33ea2aa5c30,red hot chili peppers,691
6,00000c289a1829a808ac09c00daf10bc3c4e223b,6531c8b1-76ea-4141-b270-eb1ac5b41375,magica,545
7,00000c289a1829a808ac09c00daf10bc3c4e223b,21f3573f-10cf-44b3-aeaa-26cccd8448b5,the black dahlia murder,507
8,00000c289a1829a808ac09c00daf10bc3c4e223b,c5db90c4-580d-4f33-b364-fbaa5a3a58b5,the murmurs,424
9,00000c289a1829a808ac09c00daf10bc3c4e223b,0639533a-0402-40ba-b6e0-18b067198b73,lunachicks,403

In [3]:
# artist_MBID 항목은 우리의 관심사가 아닙니다. 사용하는 컬럼만 남기고 제거
# 사용하는 컬럼만 남겨줍니다.
using_cols = ['user_id', 'artist', 'play']
data = data[using_cols]
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die Ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [4]:
# 검색을 쉽게 하기 위해 아티스트 문자열을 소문자로 바꿔주기
data['artist'] = data['artist'].str.lower()  
data.head(10)

                                    user_id                   artist  play
0  00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1  00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2  00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3  00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4  00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5  00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6  00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7  00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8  00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9  00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403

In [5]:
# 첫 번째 유저가 어떤 아티스트의 노래를 듣는지 확인
condition = (data['user_id']== data.loc[0, 'user_id'])
data.loc[condition]

                                     user_id                   artist  play
0   00000c289a1829a808ac09c00daf10bc3c4e223b          betty blowtorch  2137
1   00000c289a1829a808ac09c00daf10bc3c4e223b                die ärzte  1099
2   00000c289a1829a808ac09c00daf10bc3c4e223b        melissa etheridge   897
3   00000c289a1829a808ac09c00daf10bc3c4e223b                elvenking   717
4   00000c289a1829a808ac09c00daf10bc3c4e223b     juliette & the licks   706
5   00000c289a1829a808ac09c00daf10bc3c4e223b    red hot chili peppers   691
6   00000c289a1829a808ac09c00daf10bc3c4e223b                   magica   545
7   00000c289a1829a808ac09c00daf10bc3c4e223b  the black dahlia murder   507
8   00000c289a1829a808ac09c00daf10bc3c4e223b              the murmurs   424
9   00000c289a1829a808ac09c00daf10bc3c4e223b               lunachicks   403
10  00000c289a1829a808ac09c00daf10bc3c4e223b         walls of jericho   393
11  00000c289a1829a808ac09c00daf10bc3c4e223b           letzte instanz   387
12  00000c289a1829a808ac09c00daf10bc3c4e223b                goldfrapp   361
13  00000c289a1829a808ac09c00daf10bc3c4e223b               horrorpops   358
14  00000c289a1829a808ac09c00daf10bc3c4e223b             the butchies   329
15  00000c289a1829a808ac09c00daf10bc3c4e223b            jack off jill   316
16  00000c289a1829a808ac09c00daf10bc3c4e223b         babes in toyland   310
17  00000c289a1829a808ac09c00daf10bc3c4e223b         dropkick murphys   302
18  00000c289a1829a808ac09c00daf10bc3c4e223b            all:my:faults   288
19  00000c289a1829a808ac09c00daf10bc3c4e223b                 le tigre   281
20  00000c289a1829a808ac09c00daf10bc3c4e223b               schandmaul   244
21  00000c289a1829a808ac09c00daf10bc3c4e223b                    edguy   232
22  00000c289a1829a808ac09c00daf10bc3c4e223b      maximum the hormone   231
23  00000c289a1829a808ac09c00daf10bc3c4e223b                 all ends   229
24  00000c289a1829a808ac09c00daf10bc3c4e223b             jack johnson   227
25  00000c289a1829a808ac09c00daf10bc3c4e223b                eluveitie   222
26  00000c289a1829a808ac09c00daf10bc3c4e223b                rasputina   220
27  00000c289a1829a808ac09c00daf10bc3c4e223b    london after midnight   210
28  00000c289a1829a808ac09c00daf10bc3c4e223b              the killers   208
29  00000c289a1829a808ac09c00daf10bc3c4e223b                  mutyumu   205
30  00000c289a1829a808ac09c00daf10bc3c4e223b             judas priest   198
31  00000c289a1829a808ac09c00daf10bc3c4e223b               rob zombie   198
32  00000c289a1829a808ac09c00daf10bc3c4e223b             the bosshoss   189
33  00000c289a1829a808ac09c00daf10bc3c4e223b         blue öyster cult   185
34  00000c289a1829a808ac09c00daf10bc3c4e223b             sandra nasic   183
35  00000c289a1829a808ac09c00daf10bc3c4e223b               john mayer   182
36  00000c289a1829a808ac09c00daf10bc3c4e223b           sleater-kinney   175
37  00000c289a1829a808ac09c00daf10bc3c4e223b                  the who   168
38  00000c289a1829a808ac09c00daf10bc3c4e223b                 disciple   154
39  00000c289a1829a808ac09c00daf10bc3c4e223b                  tanzwut   153
40  00000c289a1829a808ac09c00daf10bc3c4e223b               guano apes   151
41  00000c289a1829a808ac09c00daf10bc3c4e223b       the rolling stones   150
42  00000c289a1829a808ac09c00daf10bc3c4e223b          little big town   145
43  00000c289a1829a808ac09c00daf10bc3c4e223b              team dresch   137
44  00000c289a1829a808ac09c00daf10bc3c4e223b                    betty   135
45  00000c289a1829a808ac09c00daf10bc3c4e223b                       l7   135
46  00000c289a1829a808ac09c00daf10bc3c4e223b                bif naked   134
47  00000c289a1829a808ac09c00daf10bc3c4e223b               girlschool   134
48  00000c289a1829a808ac09c00daf10bc3c4e223b          the wallflowers   131

### 데이터 탐색
추천 모델을 만들기 전에 데이터의 기본적인 정보를 보고 갑시다. 아래 항목들을 확인해 보고 싶습니다.

유저 수, 아티스트 수, 인기 많은 아티스트
유저들이 몇 명의 아티스트를 듣고 있는지에 대한 통계
유저 play 횟수 중앙값에 대한 통계
(참고) pandas.DataFrame.nunique()은 특정 컬럼에 포함된 유니크한 데이터의 개수를 알아보는데 유용합니다.

In [6]:
# 유저 수
data['user_id'].nunique()

358868

In [7]:
# 아티스트 수
data['artist'].nunique()

291346

In [8]:
# 인기 많은 아티스트
artist_count = data.groupby('artist')['user_id'].count()
artist_count.sort_values(ascending=False).head(30)

artist
radiohead                77254
the beatles              76245
coldplay                 66658
red hot chili peppers    48924
muse                     46954
metallica                45233
pink floyd               44443
the killers              41229
linkin park              39773
nirvana                  39479
system of a down         37267
queen                    34174
u2                       33206
daft punk                33001
the cure                 32624
led zeppelin             32295
placebo                  32072
depeche mode             31916
david bowie              31862
bob dylan                31799
death cab for cutie      31482
arctic monkeys           30348
foo fighters             30144
air                      29795
the rolling stones       29754
nine inch nails          28946
sigur rós                28901
green day                28732
massive attack           28691
moby                     28232
Name: user_id, dtype: int64

In [9]:
# 유저별 몇 명의 아티스트를 듣고 있는지에 대한 통계
user_count = data.groupby('user_id')['artist'].count()
user_count.describe()

count    358868.000000
mean         48.863234
std           8.524272
min           1.000000
25%          46.000000
50%          49.000000
75%          51.000000
max         166.000000
Name: artist, dtype: float64

In [10]:
# 유저별 play횟수 중앙값에 대한 통계
user_median = data.groupby('user_id')['play'].median()
user_median.describe()

count    358868.000000
mean        142.187676
std         213.089902
min           1.000000
25%          32.000000
50%          83.000000
75%         180.000000
max       50142.000000
Name: play, dtype: float64

### 모델 검증을 위한 사용자 초기 정보 세팅
우리는 본인의 음악 취향과 가장 유사한 아티스트를 추천받고 싶습니다. 유튜브 뮤직 등 추천 시스템들은 이를 위해서 처음 가입하는 사용자의 취향과 유사한 아티스트 정보를 5개 이상 입력받는 과정을 거치게 하는 경우가 많습니다.
우리도 동일한 과정이 필요합니다. 우리가 만든 추천 시스템의 추후 검증 과정을 위해, '나는 A를 좋아한다.'라는 정보를 위 데이터셋에 5개 이상 추가해 주어야 합니다. 저는 아래와 같이 제가 좋아하는 유명한 아티스트들을 기존의 데이터에 추가해서 넣겠습니다.

In [11]:
# 본인이 좋아하시는 아티스트 데이터로 바꿔서 추가하셔도 됩니다! 단, 이름은 꼭 데이터셋에 있는 것과 동일하게 맞춰주세요. 
my_favorite = ['black eyed peas' , 'maroon5' ,'jason mraz' ,'coldplay' ,'beyoncé']

# 'zimin'이라는 user_id가 위 아티스트의 노래를 30회씩 들었다고 가정하겠습니다.
my_playlist = pd.DataFrame({'user_id': ['zimin']*5, 'artist': my_favorite, 'play':[30]*5})

if not data.isin({'user_id':['zimin']})['user_id'].any():  # user_id에 'zimin'이라는 데이터가 없다면
    data = data.append(my_playlist)                           # 위에 임의로 만든 my_favorite 데이터를 추가해 줍니다. 

data.tail(10)       # 잘 추가되었는지 확인해 봅시다.

               user_id           artist  play
17535650  sep 20, 2008       turbostaat    12
17535651  sep 20, 2008    cuba missouri    11
17535652  sep 20, 2008  little man tate    11
17535653  sep 20, 2008        sigur rós    10
17535654  sep 20, 2008       the smiths    10
0                zimin  black eyed peas    30
1                zimin          maroon5    30
2                zimin       jason mraz    30
3                zimin         coldplay    30
4                zimin          beyoncé    30

### 모델에 활용하기 위한 전처리 (실습)
사람이 태어나면 주민등록번호가, 학교에 가면 출석번호가 있듯이 데이터의 관리를 쉽게 하기 위해 번호를 붙여주고 싶습니다. 우리가 다루는 데이터에서는 user와 artist 각각에 번호를 붙이고 싶습니다. 보통 이런 작업을 indexing이라고 합니다. 추천 시스템, 자연어 처리에서 자주 하는 작업들이라 직접 해보시면 좋겠습니다.

(참고) pandas.DataFrame.unique()은 특정 컬럼에 포함된 유니크한 데이터만 모아 줍니다. indexing 작업을 위해 매우 유용합니다.

In [12]:
# 고유한 유저, 아티스트를 찾아내는 코드
user_unique = data['user_id'].unique()
artist_unique = data['artist'].unique()

# 유저, 아티스트 indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(user_unique)}
artist_to_idx = {v:k for k,v in enumerate(artist_unique)}

In [13]:
# 인덱싱이 잘 되었는지 확인해 봅니다. 
print(user_to_idx['zimin'])    # 358869명의 유저 중 마지막으로 추가된 유저이니 358868이 나와야 합니다. 
print(artist_to_idx['black eyed peas'])

358868
376

In [14]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = data['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(data):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    data['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_artist_data = data['artist'].map(artist_to_idx.get).dropna()
if len(temp_artist_data) == len(data):
    print('artist column indexing OK!!')
    data['artist'] = temp_artist_data
else:
    print('artist column indexing Fail!!')

data

# data의 user_id와 artist 컬럼 내 값들이 모두 정수 인덱스 값으로 잘 변경되었나요? 이것으로 훈련을 위한 전처리가 완료

user_id column indexing OK!!
artist column indexing OK!!

    user_id  artist  play
0         0       0  2137
1         0       1  1099
2         0       2   897
3         0       3   717
4         0       4   706
..      ...     ...   ...
0    358868     376    30
1    358868  270115    30
2    358868    3746    30
3    358868      62    30
4    358868     396    30

[17535660 rows x 3 columns]

# 14-4 사용자의 명시적. 암묵적 평가
우리의 추천 시스템은 사용자들이 아이템을 얼마나 선호하는지를 모델링 하기를 원합니다. 그러자면 사용자의 아이템 선호도를 말해 주는 유저 행동 데이터셋이 필요합니다. 만약 우리 데이터가 좋아요나 별점처럼 선호도를 명시적(explicit)으로 나타내는 것이라면 참 좋겠지만, 지금 우리가 가지고 있는 데이터는 사용자가 아티스트의 곡을 몇 번 플레이했나 하는 것뿐입니다. 이렇게 서비스를 사용하면서 자연스럽게 발생하는 암묵적(implicit)인 피드백도 사용자의 아이템에 대한 평가를 알 수 있는 단서가 될 수 있습니다.

Collaborative Filtering for Implicit Feedback Datasets 논문에는 추천시스템에서 암묵적 피드백 데이터셋을 활용할 때의 고민이 잘 담겨있습니다. 해당 논문에서는 이를 위해 염두해두어야할 암묵적 피드백 데이터셋의 특징을 다음과 같이 정리합니다.

부정적인 피드백이 없다.(No Negative Feedback)
애초에 잡음이 많다.(Inherently Noisy)
수치는 신뢰도를 의미한다.(The numerical value of implicit feedback indicates confidence)
Implicit-feedback Recommender System의 평가는 적절한 방법을 고민해봐야 한다.(Evaluation of implicit-feedback recommender requires appropriate measures)

#### 암묵적 평가가 될 수 있는 데이터 사례 : 예시로 든 플레이 횟수, 플레이 시간 이외에도 클릭 수, 구매 여부, 플레이 스킵 여부, 검색 기록, 방문 페이지 이력, 구매 내역, 심지어 마우스 움직임 기록도 암묵적 평가 데이터셋이 될 수 있습니다.

In [15]:
# 우리의 데이터셋에서 1회만 플레이한 데이터의 비율은 어떻게 될까
# 1회만 play한 데이터의 비율을 보는 코드
only_one = data[data['play']<2]
one, all_data = len(only_one), len(data)
print(f'{one},{all_data}')
print(f'Ratio of only_one over all data is {one/all_data:.2%}')  # f-format에 대한 설명은 https://bit.ly/2DTLqYU

147740,17535660
Ratio of only_one over all data is 0.84%

우리가 앞으로 만들어갈 모델에서는 암묵적 데이터의 해석을 위해 다음과 같은 규칙을 적용할 것입니다.

한 번이라도 들었으면 선호한다고 판단한다.
많이 재생한 아티스트에 대해 가중치를 주어서 더 확실히 좋아한다고 판단한다.

# 14-5 Matrix Factorization(MF)
####  내용 읽고 숙지하기

In [16]:
# 14-6. CSR(Compressed Sparse Row) Matrix
# 실습 위에 설명보고 이해해서 만들어보기
from scipy.sparse import csr_matrix

num_user = data['user_id'].nunique()
num_artist = data['artist'].nunique()

csr_data = csr_matrix((data.play, (data.user_id, data.artist)), shape= (num_user, num_artist))
csr_data

<358869x291347 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Row format>

In [17]:
# 14-7. MF 모델 학습하기
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 학습 내용과는 무관합니다.
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

AlternatingLeastSquares 클래스의 __init__ 파라미터를 살펴보겠습니다.

factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지
use_gpu : GPU를 사용할 것인지
iterations : epㅡochs와 같은 의미입니다. 데이터를 몇 번 반복해서 학습할 것인지
1과 4를 늘릴수록 학습 데이터를 잘 학습하게 되지만 과적합의 우려가 있으니 좋은 값을 찾아야 합니다.

In [18]:
# Implicit AlternatingLeastSquares 모델의 선언
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=15, dtype=np.float32)

In [19]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<291347x358869 sparse matrix of type '<class 'numpy.int64'>'
	with 17535578 stored elements in Compressed Sparse Column format>

In [20]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/15 [00:00<?, ?it/s]

모델 학습이 끝났습니다! 이제 2가지를 아래 사항을 살펴보도록 하겠습니다.

Zimin 벡터와 black eyed peas의 벡터를 어떻게 만들고 있는지
두 벡터를 곱하면 어떤 값이 나오는지

In [21]:
zimin, black_eyed_peas = user_to_idx['zimin'], artist_to_idx['black eyed peas']
zimin_vector, black_eyed_peas_vector = als_model.user_factors[zimin], als_model.item_factors[black_eyed_peas]

print('슝=3')

슝=3

In [22]:
zimin_vector

array([ 0.40562347, -1.4776256 ,  0.10781313,  0.44726148,  0.5274953 ,
        1.0716636 ,  0.1457008 ,  0.07530029, -0.9451218 , -0.806063  ,
        0.41195503,  0.36000395,  0.20018499, -0.37465802,  0.1867896 ,
        0.36034158,  1.2259891 , -0.9034962 , -0.61038125,  1.3125517 ,
        0.9700898 ,  0.5052057 , -0.10149574, -0.29265785,  0.06059025,
       -0.66739136, -0.1591255 , -1.0972909 ,  0.48007536, -1.1650581 ,
       -0.11816178, -0.21167395, -0.25891498,  0.3015671 ,  0.96242696,
        0.6059361 ,  0.73553056, -0.53388685, -0.29013437, -0.5254302 ,
        0.6760978 ,  2.487069  , -0.860021  ,  0.30270377,  0.56782144,
        1.0430251 , -0.57952887,  0.05045291,  0.10252837,  0.74130046,
        0.4539996 ,  0.5654878 , -0.6876215 ,  0.28874767, -0.5384011 ,
       -0.57474566, -0.4728877 , -0.10025198,  0.86448306,  1.1205504 ,
       -0.8840902 ,  0.02513876,  0.37822095,  0.17042898, -0.61320484,
       -0.7179101 ,  0.6849019 ,  0.52000076, -0.25232774,  1.2631829 ,
        0.70854944, -1.5845071 ,  1.0797422 , -0.31669715,  0.13251138,
       -0.05395785,  0.22284453, -0.1615626 , -0.14870791,  0.69111055,
       -1.0333908 , -0.5786815 ,  0.18638866,  0.2569549 , -0.21017441,
        0.25294188,  0.95101017, -0.02546066, -0.58096576,  0.2476568 ,
       -0.53249806, -0.64840275, -0.94784796, -0.95520926, -0.14409193,
       -0.57394624, -0.3735887 , -0.4560244 ,  0.3054184 ,  0.3176612 ],
      dtype=float32)

In [23]:
black_eyed_peas_vector

array([ 1.31008569e-02, -1.28060021e-02, -9.03285574e-03,  7.69249257e-03,
       -3.63770360e-03,  7.66540412e-03,  3.13658314e-03,  1.26015833e-02,
       -1.77369807e-02, -2.14815559e-03,  1.41575234e-02,  1.24826822e-02,
        2.09217854e-02,  2.02067988e-03, -3.23329936e-03,  1.15524232e-02,
        6.24650344e-03,  1.21368486e-02, -1.26786400e-02,  3.60154361e-02,
        2.01015081e-02,  7.95678981e-03,  1.50885899e-02,  1.28776487e-02,
        1.63693484e-02,  7.63537921e-03,  1.20867379e-02,  2.93593784e-03,
        1.57273840e-02, -5.25258016e-03, -2.46823952e-03,  6.34931866e-03,
       -9.65766236e-03,  1.13856774e-02,  1.62597876e-02,  2.00056415e-02,
        5.75010665e-03,  9.75150522e-03,  3.52852466e-03,  4.55803191e-03,
        8.50307196e-03,  4.49800976e-02, -6.43530302e-03, -3.71435308e-03,
        1.54512329e-02,  2.53619682e-02, -1.57195449e-04,  7.21251545e-03,
        5.37858112e-03,  1.56748295e-02,  3.89283034e-03,  2.56702844e-02,
       -1.32196154e-02,  5.51633583e-03,  2.16215834e-04, -5.18175913e-03,
       -4.20576573e-04,  1.54796867e-02,  1.47475936e-02,  7.66807888e-03,
        2.29806220e-03, -6.13895664e-03,  8.95512756e-03, -2.48794421e-03,
        1.14257622e-03, -7.72393774e-04,  1.93378348e-02,  1.82857048e-02,
        8.07356276e-03, -5.76870661e-05,  2.13192403e-02, -1.38810901e-02,
        1.41212558e-02,  1.08335502e-02,  4.54645045e-03, -2.46296986e-03,
        1.52269769e-02,  1.15849040e-02,  1.16007787e-03,  2.64238268e-02,
       -2.06296984e-03,  4.78222966e-03,  2.18549557e-02,  6.85926760e-04,
       -6.22014934e-03,  2.83154286e-03,  1.89347770e-02,  1.02021836e-03,
        1.47159881e-04,  1.14012407e-02, -6.25421107e-03, -8.34698323e-03,
       -1.01776356e-02,  1.06679136e-02,  2.76395236e-03, -2.98777525e-03,
       -2.44800118e-03,  1.56226745e-02,  6.57567801e-03,  7.14389235e-03],
      dtype=float32)

In [24]:
# zimin과 black_eyed_peas_vector
np.dot(zimin_vector, black_eyed_peas_vector)

0.516993

In [25]:
# 모델이 저의 queen에 대한 선호도를 어떻게 예측할지 한 번 보겠다.
queen = artist_to_idx['queen']
queen_vector = als_model.item_factors[queen]
np.dot(zimin_vector, queen_vector)

0.30090287

# 14-8. 비슷한 아티스트 찾기 + 유저에게 추천하기
### 비슷한 아티스트 찾기
AlternatingLeastSquares 클래스에 구현되어 있는 similar_items 메서드를 통하여 비슷한 아티스트를 찾습니다. 처음으로는 제가 좋아하는 coldplay로 찾아보겠습니다.

In [26]:
favorite_artist = 'coldplay'
artist_id = artist_to_idx[favorite_artist]
similar_artist = als_model.similar_items(artist_id, N=15)
similar_artist

[(62, 1.0000001),
 (277, 0.98391867),
 (28, 0.9775297),
 (5, 0.9737771),
 (217, 0.96519715),
 (473, 0.9640922),
 (490, 0.95895135),
 (247, 0.95140356),
 (418, 0.950458),
 (694, 0.94646156),
 (1018, 0.9341587),
 (531, 0.93130815),
 (55, 0.9311003),
 (910, 0.931049),
 (782, 0.9304351)]

In [27]:
# (아티스트의 id, 유사도) Tuple 로 반환하고 있습니다. 아티스트의 id를 다시 아티스트의 이름으로 매핑 시켜 주겠습니다.
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_artist = {v:k for k,v in artist_to_idx.items()}
[idx_to_artist[i[0]] for i in similar_artist]

['coldplay',
 'muse',
 'the killers',
 'red hot chili peppers',
 'radiohead',
 'placebo',
 'oasis',
 'the beatles',
 'u2',
 'foo fighters',
 'the smashing pumpkins',
 'depeche mode',
 'arctic monkeys',
 'nirvana',
 'the white stripes']

In [28]:
# 몇 번 더 반복해서 확인하기 위해 위의 코드를 함수로 만들고 확인
def get_similar_artist(artist_name: str):
    artist_id = artist_to_idx[artist_name]
    similar_artist = als_model.similar_items(artist_id)
    similar_artist = [idx_to_artist[i[0]] for i in similar_artist]
    return similar_artist

print("슝=3")

슝=3

In [29]:
# 저는 힙합도 좋아하기 때문에 2pac으로도 확인
get_similar_artist('2pac')

# 우와! 스눕독, 닥터 드레, 노토리우스, 나스, 제이지 같은 전설들이 추천. 힙합의 경우 마니아들이 많아서 더 잘 추천되는 것으로 생각

['2pac',
 'notorious b.i.g.',
 'dr. dre',
 'the game',
 '50 cent',
 'nas',
 'snoop dogg',
 'jay-z',
 'dmx',
 'ice cube']

마니아는 데이터상에서 표현될 때 어떤 특징을 가질까요?
마니아들은 특정 장르의 아티스트들에게로 선호도가 집중되고, 다른 장르의 아티스트들과는 선호도가 낮게 나타날 것입니다. 이런 마니아들의 존재로 인해 같은 장르의 아티스트들의 벡터들도 더 가까워져서 get_similar_artist시 장르별 특성이 두드러지게 될 것입니다.

In [30]:
get_similar_artist('lady gaga') # lady gaga의 경우 여자 아티스트들이 추천되고 있다.

['lady gaga',
 'britney spears',
 'rihanna',
 'katy perry',
 'beyoncé',
 'the pussycat dolls',
 'christina aguilera',
 'kelly clarkson',
 'justin timberlake',
 'nelly furtado']

유저에게 아티스트 추천하기
AlternatingLeastSquares 클래스에 구현되어 있는 recommend 메서드를 통하여 제가 좋아할 만한 아티스트를 추천받습니다. filter_already_liked_items 는 유저가 이미 평가한 아이템은 제외하는 Argument입니다.

In [31]:
user = user_to_idx['zimin']
# recommend에서는 user*item CSR Matrix를 받습니다.
artist_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
artist_recommended

[(350, 0.45262656),
 (627, 0.45230162),
 (369, 0.44545764),
 (550, 0.43912774),
 (354, 0.42447507),
 (409, 0.4217847),
 (1800, 0.4118349),
 (274, 0.40992516),
 (355, 0.40499842),
 (564, 0.39473763),
 (391, 0.39247614),
 (24, 0.3902123),
 (2249, 0.38899612),
 (5555, 0.38725126),
 (382, 0.38642973),
 (724, 0.3862334),
 (901, 0.3652159),
 (618, 0.36166114),
 (2902, 0.36134923),
 (1777, 0.3595782)]

In [32]:
[idx_to_artist[i[0]] for i in artist_recommended]

['rihanna',
 'maroon 5',
 'justin timberlake',
 'britney spears',
 'nelly furtado',
 'amy winehouse',
 'lady gaga',
 'michael jackson',
 'madonna',
 'kanye west',
 'christina aguilera',
 'jack johnson',
 'katy perry',
 'timbaland',
 'mika',
 'lily allen',
 'pink',
 'the pussycat dolls',
 'james blunt',
 'mariah carey']

rihanna를 추천해 주고 있네요. 모델은 왜 rihanna를 추천해 줬을까요? AlternatingLeastSquares 클래스에 구현된 explain 메서드를 사용하면 제가 기록을 남긴 데이터 중 이 추천에 기여한 정도를 확인할 수 있습니다.

In [33]:
rihanna = artist_to_idx['rihanna']
explain = als_model.explain(user, csr_data, itemid=rihanna)

In [34]:
# 이 method는 추천한 콘텐츠의 점수에 기여한 다른 콘텐츠와 기여도(합이 콘텐츠의 점수가 된다.)를 반환합니다. 어떤 아티스트들이 이 추천에 얼마나 기여하고 있는 걸까요?

[(idx_to_artist[i[0]], i[1]) for i in explain[1]]

[('beyoncé', 0.2235045595341693),
 ('black eyed peas', 0.14164937197935204),
 ('jason mraz', 0.053953072769826166),
 ('coldplay', 0.035218065976290264),
 ('maroon5', 8.548937111970897e-05)]

beyoncé와 black eyed peas가 가장 크게 기여했네요. 둘 다 흑인 아티스트이고 beyoncé의 경우는 같은 성별이라는 점도 크게 작용하지 않았을까 싶습니다.

눈치채신 분도 있겠지만 결과가 조금 이상합니다. filter_already_liked_items=True로 했는데 앞에 maroon 5는 제가 이미 평가한 아이템이 나오고 있습니다. 이것은 implicit 버전 0.4.2에서 생긴 버그입니다. 코드는 사람이 만들기 때문에 이렇게 실수할 가능성이 있습니다.
오픈 소스 생태계에서는 누구든 이런 문제점을 지적하고 Pull Request를 통하여 수정을 제안할 수 있습니다.
많이들 사용하는 Tensorflow나 numpy, pandas도 여러 작은 버그들이 있습니다. 이런 유명한 패키지의 오류를 고쳐서 Pull Request를 하여 Contribute 한다면 좋은 이력이 되기도 합니다.

모델이 추천한 20개 중 몇 개를 실제로 선호하는지 계산하여 모델의 객관적인 지표를 만들 수 있을 것 같습니다. 자세한 방법은 이쪽을 참고해 주세요.

마무리
후~ 고생 많으셨습니다!
추천 시스템에서 Baseline으로 많이 사용되는 MF를 통해 유저에게 아티스트를 추천해 보았습니다. 이제 여러분은 추천 시스템 관련 task에서 기본 모델을 만드실 수 있을 겁니다.

그러나 우리가 만든 모델은 몇 가지 아쉬운 점이 있습니다. 1. 유저, 아티스트에 대한 Meta 정보를 반영하기 쉽지 않습니다. 연령대별로 음악 취향이 굉장히 다르지 않을까요? 2. 유저가 언제 play 했는지에 반영하기 쉽지 않습니다. 10년 전에 즐겨듣던 아티스트와 지금 즐겨듣는 아티스트를 비교해 보세요.

이러한 이유와 딥러닝의 발전으로 MF 이외의 모델 구조도 많이 연구/ 사용되고 있습니다. 하지만 어떤 추천 모델도 핵심은 MF와 비슷합니다.
유저와 아이템에 대한 벡터를 잘 학습하여 취향에 맞게(유저에 맞게) 아이템을 보여주거나(Retrieval) 걸러내는(Filtering) 역할입니다.

# 14-9. 프로젝트 - Movielens 영화 추천 실습

이전 스텝에서 배운 MF 모델 학습 방법을 토대로, 내가 좋아할 만한 영화 추천 시스템을 제작해 보겠습니다.

이번에 활용할 데이터셋은 추천 시스템의 MNIST라고 부를만한 Movielens 데이터입니다.

유저가 영화에 대해 평점을 매긴 데이터가 데이터 크기 별로 있습니다. MovieLens 1M Dataset 사용을 권장합니다.
별점 데이터는 대표적인 explicit 데이터입니다. 하지만 implicit 데이터로 간주하고 테스트해 볼 수 있습니다.
별점을 시청횟수로 해석해서 생각하겠습니다.
또한 유저가 3점 미만으로 준 데이터는 선호하지 않는다고 가정하고 제외하겠습니다.
Cloud Storage에 미리 업로드된 ml-1m폴더 내 파일을 심볼릭 링크로 개인 storage에 연결해 줍니다.

Cloud shell에서 아래 명령어를 입력해 주세요.

In [ ]:
$ mkdir -p ~/aiffel/recommendata_iu/data/ml-1m
$ ln -s ~/data/ml-1m/* ~/aiffel/recommendata_iu/data/ml-1m

# 1) 데이터 준비와 전처리
Movielens 데이터는 rating.dat 안에 이미 인덱싱까지 완료된 사용자-영화-평점 데이터가 깔끔하게 정리되어 있습니다.

In [2]:
import pandas as pd
import os

rating_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/ratings.dat'
ratings_cols = ['user_id', 'movie_id', 'ratings', 'timestamp']
ratings = pd.read_csv(rating_file_path, sep='::', names=ratings_cols, engine='python', encoding = "ISO-8859-1")
orginal_data_size = len(ratings)
ratings.head()

   user_id  movie_id  ratings  timestamp
0        1      1193        5  978300760
1        1       661        3  978302109
2        1       914        3  978301968
3        1      3408        4  978300275
4        1      2355        5  978824291

In [3]:
# 3점 이상만 남깁니다.
ratings = ratings[ratings['ratings']>=3]
filtered_data_size = len(ratings)

print(f'orginal_data_size: {orginal_data_size}, filtered_data_size: {filtered_data_size}')
print(f'Ratio of Remaining Data is {filtered_data_size / orginal_data_size:.2%}')

orginal_data_size: 1000209, filtered_data_size: 836478
Ratio of Remaining Data is 83.63%

In [4]:
# ratings 컬럼의 이름을 counts로 바꿉니다.
ratings.rename(columns={'ratings':'counts'}, inplace=True)

In [5]:
ratings['counts']

0          5
1          3
2          3
3          4
4          5
          ..
1000203    3
1000205    5
1000206    5
1000207    4
1000208    4
Name: counts, Length: 836478, dtype: int64

In [21]:
# 영화 제목을 보기 위해 메타 데이터를 읽어옵니다.
movie_file_path=os.getenv('HOME') + '/aiffel/recommendata_iu/data/ml-1m/movies.dat'
cols = ['movie_id', 'title', 'genre'] 
movies = pd.read_csv(movie_file_path, sep='::', names=cols, engine='python', encoding='ISO-8859-1')
movies.head()

   movie_id                               title                         genre
0         1                    Toy Story (1995)   Animation|Children's|Comedy
1         2                      Jumanji (1995)  Adventure|Children's|Fantasy
2         3             Grumpier Old Men (1995)                Comedy|Romance
3         4            Waiting to Exhale (1995)                  Comedy|Drama
4         5  Father of the Bride Part II (1995)                        Comedy

여기까지가 전처리입니다. 이후에는 이전 스텝에 소개했던 것과 동일한 방식으로 MF model을 구성하여 내가 좋아할 만한 영화를 추천해 볼 수 있습니다.

In [22]:
# 영화를 title로 입력할 것이기때문에 title이란 컬럼을 불러와야합니다.
ratings = pd.merge(ratings, movies[['title', 'movie_id']], on='movie_id', how='left')
ratings

,user_id,movie_id,counts,timestamp,title
0,1,1193,5,978300760,One Flew Over the Cuckoo's Nest (1975)
1,1,661,3,978302109,James and the Giant Peach (1996)
2,1,914,3,978301968,My Fair Lady (1964)
3,1,3408,4,978300275,Erin Brockovich (2000)
4,1,2355,5,978824291,"Bug's Life, A (1998)"
...,...,...,...,...,...
836473,6040,1090,3,956715518,Platoon (1986)
836474,6040,1094,5,956704887,"Crying Game, The (1992)"
836475,6040,562,5,956704746,Welcome to the Dollhouse (1995)
836476,6040,1096,4,956715648,Sophie's Choice (1982)
836477,6040,1097,4,956715569,E.T. the Extra-Terrestrial (1982)

In [ ]:
# 검색을 쉽게 하기 위해 영화제목 문자열을 소문자로 바꿔주기
data['title'] = data['title'].str.lower()  
data.head(10)

# 2) 분석해 봅시다.
ratings에 있는 유니크한 영화 개수
ratings에 있는 유니크한 사용자 수
가장 인기 있는 영화 30개(인기순)

In [24]:
# ratings에 있는 유니크한 영화 개수
ratings['movie_id'].nunique()

3628

In [25]:
# rating에 있는 유니크한 사용자 수
ratings['user_id'].nunique()

6039

In [29]:
#가장 인기 있는 영화 30개(인기순) 영화 id별 별점(시청횟수)많은 순
movie_counts = ratings.groupby('movie_id')['counts'].count()
movie_counts.sort_values(ascending=False).head(30)

movie_id
2858    3211
260     2910
1196    2885
1210    2716
2028    2561
589     2509
593     2498
1198    2473
1270    2460
2571    2434
480     2413
2762    2385
608     2371
110     2314
1580    2297
527     2257
1197    2252
2396    2213
1617    2210
318     2194
858     2167
1265    2121
1097    2102
2997    2066
2716    2051
296     2030
356     2022
1240    2019
1       2000
457     1941
Name: counts, dtype: int64

# 3) 내가 선호하는 영화를 5가지 골라서 ratings에 추가해 줍시다.

In [70]:
# 내가 선호하는 영화를 5가지 골라서 rating에 추가
my_favorite = ['avatar', 'interstellar', 'les misérables' , 'inception', 'aladdin']  

my_list = pd.DataFrame({'user_id': ['meissamatar']*5, 'title': my_favorite, 'count':[5]*5})

if not ratings.isin({'user_id':['meissamatar']})['user_id'].any(): 
    ratings = ratings.append(my_list)                         

ratings.tail(10)

       user_id  movie_id  counts  timestamp           title  count
0         6041    3633.0     NaN        NaN          avatar   50.0
1         6041    3634.0     NaN        NaN    interstellar   50.0
2         6041    3635.0     NaN        NaN  Les Misérables   50.0
3         6041    3631.0     NaN        NaN       inception   50.0
4         6041    3637.0     NaN        NaN          Matrix   50.0
0  meissamatar       NaN     NaN        NaN          avatar   50.0
1  meissamatar       NaN     NaN        NaN    interstellar   50.0
2  meissamatar       NaN     NaN        NaN  Les Misérables   50.0
3  meissamatar       NaN     NaN        NaN       inception   50.0
4  meissamatar       NaN     NaN        NaN         Aladdin   50.0

In [71]:
# 인덱싱
userid_unique = ratings['user_id'].unique()
#movie_unique = ratings['movie_id'].unique()

movie_unique = ratings['title'].unique()

# user, movie indexing 하는 코드 idx는 index의 약자입니다.
user_to_idx = {v:k for k,v in enumerate(userid_unique)}
movie_to_idx = {v:k for k,v in enumerate(movie_unique)}

In [72]:
# 인덱싱이 잘 되었는지 확인
print(user_to_idx['meissamatar'])    
print(movie_to_idx['avatar'])

6042
3633

In [75]:
# indexing을 통해 데이터 컬럼 내 값을 바꾸는 코드
# dictionary 자료형의 get 함수는 https://wikidocs.net/16 을 참고하세요.

# user_to_idx.get을 통해 user_id 컬럼의 모든 값을 인덱싱한 Series를 구해 봅시다. 
# 혹시 정상적으로 인덱싱되지 않은 row가 있다면 인덱스가 NaN이 될 테니 dropna()로 제거합니다. 
temp_user_data = ratings['user_id'].map(user_to_idx.get).dropna()
if len(temp_user_data) == len(ratings):   # 모든 row가 정상적으로 인덱싱되었다면
    print('user_id column indexing OK!!')
    ratings['user_id'] = temp_user_data   # data['user_id']을 인덱싱된 Series로 교체해 줍니다. 
else:
    print('user_id column indexing Fail!!')

# artist_to_idx을 통해 artist 컬럼도 동일한 방식으로 인덱싱해 줍니다. 
temp_movie_data = ratings['title'].map(movie_to_idx.get).dropna()
if len(temp_movie_data) == len(ratings):
    print('movie_id column indexing OK!!')
    ratings['movie_id'] = temp_movie_data
else:
    print('movie_id column indexing Fail!!')

ratings

user_id column indexing Fail!!
movie_id column indexing OK!!

,user_id,movie_id,counts,timestamp,title,count
0,0,0,5.0,978300760.0,One Flew Over the Cuckoo's Nest (1975),NaN
1,0,1,3.0,978302109.0,James and the Giant Peach (1996),NaN
2,0,2,3.0,978301968.0,My Fair Lady (1964),NaN
3,0,3,4.0,978300275.0,Erin Brockovich (2000),NaN
4,0,4,5.0,978824291.0,"Bug's Life, A (1998)",NaN
...,...,...,...,...,...,...
0,6042,3633,NaN,NaN,avatar,50.0
1,6042,3634,NaN,NaN,interstellar,50.0
2,6042,3635,NaN,NaN,Les Misérables,50.0
3,6042,3631,NaN,NaN,inception,50.0
4,6042,3638,NaN,NaN,Aladdin,50.0

# 4) CSR matrix를 직접 만들어 봅시다.

In [76]:
# csr_matrix
from scipy.sparse import csr_matrix

num_user = ratings['user_id'].nunique()
num_movie = ratings['movie_id'].nunique()

csr_data = csr_matrix((ratings['count'], (ratings.user_id, ratings.movie_id)), shape= (num_user, num_movie))
csr_data

<6043x3639 sparse matrix of type '<class 'numpy.float64'>'
	with 836498 stored elements in Compressed Sparse Row format>

In [78]:
from implicit.als import AlternatingLeastSquares
import os
import numpy as np

# implicit 라이브러리에서 권장하고 있는 부분입니다. 
os.environ['OPENBLAS_NUM_THREADS']='1'
os.environ['KMP_DUPLICATE_LIB_OK']='True'
os.environ['MKL_NUM_THREADS']='1'

# Implicit AlternatingLeastSquares 모델의 선언
# 1. factors : 유저와 아이템의 벡터를 몇 차원으로 할 것인지
# 2. regularization : 과적합을 방지하기 위해 정규화 값을 얼마나 사용할 것인지 
# 3. use_gpu : GPU를 사용할 것인지 
# 4. iterations : epochs와 같은 의미입니다.
als_model = AlternatingLeastSquares(factors=100, regularization=0.01, use_gpu=False, iterations=20, dtype=np.float32)

# 5) als_model = AlternatingLeastSquares 모델을 직접 구성하여 훈련시켜 봅시다.

In [79]:
# als 모델은 input으로 (item X user 꼴의 matrix를 받기 때문에 Transpose해줍니다.)
csr_data_transpose = csr_data.T
csr_data_transpose

<3639x6043 sparse matrix of type '<class 'numpy.float64'>'
	with 836498 stored elements in Compressed Sparse Column format>

In [80]:
# 모델 훈련
als_model.fit(csr_data_transpose)

  0%|          | 0/20 [00:00<?, ?it/s]

ModelFitError: NaN encountered in factors

In [66]:
meissamatar, inception = user_to_idx['meissamatar'], movie_to_idx['inception']
meissamatar_vector, inception_vector = als_model.user_factors[meissamatar], als_model.item_factors[inception]

print('슝=3')

슝=3

In [67]:
# 내적하는 코드
np.dot(meissamatar_vector, inception_vector)

nan

In [41]:
getout = movie_to_idx['get out']
getout_vector = als_model.item_factors[getout]
np.dot(meissamatar_vector, getout_vector)

nan

# 6) 내가 선호하는 5가지 영화 중 하나와 그 외의 영화 하나를 골라 훈련된 모델이 예측한 나의 선호도를 파악해 보세요.

In [42]:
# (id, 유사도 )
favorite_movie = 'inception'
movie_id = movie_to_idx[favorite_movie]
similar_movie = als_model.similar_items(movie_id, N=15)
similar_movie

[(1205, nan),
 (1194, nan),
 (1219, nan),
 (1208, nan),
 (1209, nan),
 (1210, nan),
 (1211, nan),
 (1212, nan),
 (1213, nan),
 (1214, nan),
 (1215, nan),
 (1216, nan),
 (1217, nan),
 (1218, nan),
 (3632, nan)]

In [43]:
#artist_to_idx 를 뒤집어, index로부터 artist 이름을 얻는 dict를 생성합니다. 
idx_to_movie = {v:k for k,v in movie_to_idx.items()}
[idx_to_movie[i[0]] for i in similar_movie]

['Bad Girls (1994)',
 'Fatal Attraction (1987)',
 'First Blood (1982)',
 'Miami Rhapsody (1995)',
 'Oxygen (1999)',
 'Blame It on Rio (1984)',
 'Fools Rush In (1997)',
 'Tin Cup (1996)',
 'Nine 1/2 Weeks (1986)',
 'Random Hearts (1999)',
 'Metropolitan (1990)',
 'Client, The (1994)',
 'Blue Chips (1994)',
 'Bonfire of the Vanities (1990)',
 'gravity']

# 7) 내가 좋아하는 영화와 비슷한 영화를 추천받아 봅시다.

In [44]:
# 비슷한 영화 이름 검색 함수
def get_similar_movie(movie_name: str):
    movie_id = movie_to_idx[movie_name]
    similar_movie = als_model.similar_items(movie_id)
    similar_movie = [idx_to_movie[i[0]] for i in similar_movie]
    return similar_movie

print("슝=3")

슝=3

In [45]:
get_similar_movie('get out')

['Blue Chips (1994)',
 'Nine 1/2 Weeks (1986)',
 'Metropolitan (1990)',
 'First Blood (1982)',
 'Miami Rhapsody (1995)',
 'Tin Cup (1996)',
 'Fools Rush In (1997)',
 'Blame It on Rio (1984)',
 'Oxygen (1999)',
 'gravity']

In [46]:
user = user_to_idx['meissamatar']
# recommend에서는 user*item CSR Matrix를 받습니다.
movie_recommended = als_model.recommend(user, csr_data, N=20, filter_already_liked_items=True)
movie_recommended

[(1200, nan),
 (1203, nan),
 (1199, nan),
 (1201, nan),
 (1206, nan),
 (1207, nan),
 (1198, nan),
 (1197, nan),
 (1196, nan),
 (1195, nan),
 (1205, nan),
 (1194, nan),
 (1219, nan),
 (1208, nan),
 (1209, nan),
 (1210, nan),
 (1211, nan),
 (1212, nan),
 (1213, nan),
 (1214, nan)]

# 8) 내가 가장 좋아할 만한 영화들을 추천받아 봅시다.

In [47]:
[idx_to_movie[i[0]] for i in movie_recommended]

['American President, The (1995)',
 'Something to Talk About (1995)',
 'Substitute, The (1996)',
 'Meatballs (1979)',
 'Hope Floats (1998)',
 'Milk Money (1994)',
 'Diner (1982)',
 'Honeymoon in Vegas (1992)',
 'Net, The (1995)',
 'I.Q. (1994)',
 'Bad Girls (1994)',
 'Fatal Attraction (1987)',
 'First Blood (1982)',
 'Miami Rhapsody (1995)',
 'Oxygen (1999)',
 'Blame It on Rio (1984)',
 'Fools Rush In (1997)',
 'Tin Cup (1996)',
 'Nine 1/2 Weeks (1986)',
 'Random Hearts (1999)']